{% extends 'main.html' %}

{% block my_page %}

{{page}}

{% endblock my_page %}

{% block content %}

<p>Hello, you are on the {{page}} page</p>

{% if number > 10 %}
    <p>Number is greater than 10.</p>
{% elif number == 10 %}
    <p>The number is 10</p>
{% else %}
    <p>Number is less than 10</p>
{% endif %}

<hr>
<h1>Projects</h1>

    <h1>Projects Template</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores placeat fugit delectus nemo laudantium, mollitia fugiat aut et repellat non, velit repellendus repudiandae quis, ab aliquam cum praesentium quidem consequuntur?</p>

    
{% endblock content %}

